<div>
    <div class="title">
        <h1>
            HA OCURRIDO UN ERROR
        </h1>
    </div>
    <div class="card">
        <div class="body ">
            <p class="row">
                Ha ocurrido un error al establecer una conexión con el servidor, alguna de las causas puede ser:
            </p>
            <br>
            <li>
                El usuario ha intentado acceder a un recurso prohibido por el servidor.
            </li>
            <li> 
                No se ha podido establecer una conexión con el servidor.
            </li>
            <li>
                El servidor no se encuentra disponible actualmente.
            </li>
            <li>
                La aplicación se encuentra restringida para su dirección.
            </li>
        </div>
        <div class="bottom">
            <p>
                Haga clic en el botón <button class="btn btn-secondary badge" (click)="tryAgain()">Conectar</button> para intentar nuevamente.
            </p>
        </div>
    </div>
</div>